body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: "MadouFont";
}

@font-face {
    font-family: "MadouFont";
    src: url("./assets/fonts/madoufmg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
